body{
  font-family: 'Press Start 2P', cursive;
  background-color: #FEC03B;
  text-align: center;
}
h1{
  font-size: 34px;
  padding: 0 0 18px 0;
}
#gameWrapper{
  background-color: #44D9CB;
  border:10px solid #000;
  width:860px;
  height: auto;
  margin: 20px auto 0 auto;
}
#gameTop{
  background-color: #A9E1EF;
  padding: 30px 0;
}
h2{
 font-size: 72px
}
p{
  font-size: 15px;
  margin-bottom:20px;
}
#howToLink a,
a.playAgain,
a.whiteBtn{
  width:350px;
  height:33px;
  padding: 12px 0 0 0;
  background-color: #FFF;
  border:6px solid #000;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color:#000;
  box-shadow: 0 6px 0 #000;
}
#howToLink a:hover,
a.playAgain:hover,
a.whiteBtn:hover{
  box-shadow: 0 0 0 #000;
  transform: translate(0, 4px);
}
a.playAgain,
a.whiteBtn{
  width:220px;
}
#currentScore{
  padding:20px 0 10px 0;
}
#currentScore p{
  padding-bottom: 10px;
}
#scoreTracker h3{
  padding-top: 10px;
}
#scoreWrapper{
  height: 355px;
}
#gemWrapper{
 width:632px;
 height:200px;
 margin: 0 auto;
}
#gemWrapper a{
 height: 200px;
 display: inline-block;
 margin-right: 40px;
 float: left;
}
#gemWrapper a#redGem{
  background: url("../img/gems.svg") no-repeat -350px top;
  background-size: 630px;
  width: 121px;
}
#gemWrapper a#redGem:hover{
  background-position: -350px -229px;
}
#gemWrapper a#diamond{
  background: url("../img/gems.svg") no-repeat 0 top;
  background-size: 630px;
  width: 171px;
}
#gemWrapper a#diamond:hover{
  background-position: 0 -229px;
}
#gemWrapper a#yellowGem{
  background: url("../img/gems.svg") no-repeat -510px top;
  background-size: 630px;
  width: 119px;
  margin-right: 0;
}
#gemWrapper a#yellowGem:hover{
  background-position: -510px -229px;
}
#gemWrapper a#squareGem{
  background: url("../img/gems.svg") no-repeat -210px top;
  background-size: 630px;
  width: 100px;
}
#gemWrapper a#squareGem:hover{
  background-position: -210px -229px;
}
#scoreTracker{
  background-color: #1DCAD3;
  padding: 20px 0;
}
h2#totalScore{

}
#dropShadow{
  width:850px;
  height: 10px;
  background-color: #000;
  margin: 0 auto 40px auto;
}
#intCurtain{
  display:none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(254,192,59);
  background-color: rgba(254,192,59,0.9);
}
#gameInstructions,
#winScreen,
#lossScreen{
  display: none;
  background-color: #FFF;
  border:10px solid #000;
  width:700px;
  height: auto;
  margin: 80px auto 0 auto;
  padding: 40px;
}
#gameInstructions h2,
#winScreen h2,
#lossScreen h2{
  font-size:40px;
  padding-bottom:20px;
}
#gameInstructions p{
  text-align: left;
}
#gameInstructions a{
  margin-top:30px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
